@media only screen and (max-width:750px) {
  .menu-trigger {
    display:block;
    position: absolute;
    right: 0;
    font-size:28px;
    
}
    .head-nav ul {
        display: none;
        padding: 0;
    }
    .head-nav li {
        text-align: right;
        margin: 10px;
        height: 20px;
        margin-bottom: 2px;
        
    }
    .head-nav li:first-child {
        margin-top: 80px;
    }
   .head-nav a{
       margin-right: 20px;
       font-size: 12px;
   }
    .logo {
        display: block;
        
    }
    .head-nav span{
        margin-right: 0;
    }
}
/* медиа сайт */


@media screen and (max-width: 1440px){


}


@media screen and (max-width: 1170px){

}
@media screen and (max-width: 1000px){
    .bottom_2{
        justify-content: center;
    }
}

@media screen and (max-width: 750px){
    .block_input{
        flex-wrap: wrap;
        padding: 20px 60px 0px 60px;
    }
    .block_1{
        margin-right: 0px;
    }
    .block_1, .block_2{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .br{
        display: none;
    }
    .block_input{
            padding: 20px 20px 0px 20px;
    }
    .tex_ar{
            padding: 0px 20px 0px 20px;
    }
}
@media screen and (max-width: 450px){
    .top_2{
        margin-top: 20px;
        padding-top: 20px;
    }
    .text_text{
        position: absolute;
        bottom: -18px;
    }
    .text_text h2{
        font-size: 29px;
        line-height: 30px;
        margin-bottom: 0px;
        margin-top: 35px;
    }
    .text_text p{
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .text_text a{
        font-size: 22px;
    }
    .text_text a:after{
        top: 18px;
        left: 34px;
    }
    .text_text a:before{
        top: 15px;
        left: 24px;
    }
}
@media screen and (max-width: 365px){
    .top_6{
        padding-top: 15px;
    }
    .block_input input{
        padding: 5px;
    }
    textarea{
        height: 12vh;
    }
}
@media screen and (max-width: 325px){
    .sabmit{
        margin-top: 15px;
        height: 35px;
    }
}

/* медиа сайт */

