@media screen and (max-width: 800px) {
    .products {
        width: 49%;
    }

    .info_img {
        transform: rotate(400grad);
        transition: 1s;
    }
}

@media screen and (max-width: 770px) {
    .info_img {
        transform: rotate(400grad);
        transition: 1s;
    }

    .products {
        width: 48%;
    }

    .ALSO_LIKE {
        justify-content: center;
        padding: 0;
    }

    .cena {
        width: 100%;
        padding: 5px 0 5px 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(138, 230, 207, 0.6);;
    }

    .id {
        font-size: 14px;
    }

    .price_black, .price_red {
        font-size: 36px;
    }

    .info h3, .sociale, .share {
        display: none;
    }

    .top_h3, .p770, .sociale1 {
        display: block;
    }

    .sociale1 li {
        cursor: pointer;
    }

}

@media screen and (max-width: 675px) {

    .product {
        display: block;
    }

    .sociale1, .p770 {
        display: none;
    }

    .sociale2 ul {
        display: flex;
    }

    .image, .info {
        width: 100%;
    }

    .in_button {
        justify-content: center;
    }

    .id {
        margin-top: 12px;
        margin-bottom: 0;
    }

    .price_black, .price_red {
        font-size: 46px;
    }

    .details {
        font-size: 13px;
    }

    .stars {
        margin-top: 0;
        font-size: 30px;
    }

}

@media screen and (max-width: 575px) {
    .img-line img {
        transform: rotate(400grad);
        transition: 1s;
    }

    .grid {
        width: 72vw;
        padding: 0;
        margin: 40px;
        position: relative;
        /*height: 314px;*/
        /*overflow: hidden;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
.img-line {
    display: flex;
    /*border: 1px solid red;*/
    overflow: hidden;
    position: relative;
min-width: 72vw;
}

    .products {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transform: translateZ(0);
        will-change: transorm;
        background: white;
        min-width: 72vw;


    }

    .products.active, .products.next, .products.prev {
        opacity: 1;
        pointer-events: auto;
    }

    .products.active {
        transform: translateX(0);
        z-index: 10;
    }

    .products.next {
        transform: translateX(100%);
        z-index: 1;
    }

    .products.prev {
        transform: translateX(-100%);
    }

    .products.animate_prev {
        transform: translateX(100%) translateZ(0) !important;
        transition: transform 0.6s ease-in-out;

    }

    .products.animate_next {
        transform: translateX(-100%) translateZ(0) !important;
        transition: transform 0.6s ease-in-out;

    }

    .products.animate {
        transform: translateX(0) translateZ(0);
        transition: transform 0.6s ease-in-out;

    }

    .img-line img {
        height: inherit;
    }

    .left, .right {
        display: inline;
    }

    .info_img {
        left: 0px;
    }

}

@media screen and (max-width: 438px) {
    .top_h3 {
        padding-right: 50px;
        margin-bottom: 10px;
        line-height: 30px;

    }

    .price_red {
        margin-left: 5px;
    }

    .price_black, .price_red {
        font-size: 30px;
    }

    .size {
        display: block;
    }

    .radio1_label, .radio2_label, .radio3_label {
        margin-left: 0;
        margin-right: 15px;
    }

    .color {
        display: block;
    }

    .radio2 {
        margin-left: 0;
    }

    .button {
        width: 100%;
        margin-top: 15px;
    }

    .size span span, .color span span {
        display: inline;
        margin-right: 5px;
    }

    .grid, .ALSO_LIKE h2 {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .product {
        padding-bottom: 0;
    }

}

@media screen and (max-width: 370px) {
    .sociale2 li {
        width: 25px;
        height: 25px;
    }

    .product {
        padding: 30px 25px 30px 25px;
    }

    .grid {
        width: 76vw;
    }

    .products {
        min-width: 76vw;
    }
}










